# Pandas

In [1]:
import pandas as pd
print(pd.__version__)

1.5.3

In [3]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
data=[1,2,3]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3

In [5]:
import pandas as pd
data=[['rahul',35],['vasu',8]]
df=pd.DataFrame(data,columns=['Name',"Age"],dtype=float)
print(df)

ValueError: could not convert string to float: 'rahul'

In [7]:
data={'Name':['rahul','dubey','vasu','neha'],"Age":['10','20','32','15']}
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

    Name Age
0  rahul  10
1  dubey  20
2   vasu  32
3   neha  15

In [9]:
data=[{'a':1,'b':2},{'a':3,'b':4,'c':20}]
df=pd.DataFrame(data)
print(df)

   a  b     c
0  1  2   NaN
1  3  4  20.0

In [11]:
dir('pandas')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [12]:
df.shape

(2, 3)

In [13]:
df.describe()

              a         b     c
count  2.000000  2.000000   1.0
mean   2.000000  3.000000  20.0
std    1.414214  1.414214   NaN
min    1.000000  2.000000  20.0
25%    1.500000  2.500000  20.0
50%    2.000000  3.000000  20.0
75%    2.500000  3.500000  20.0
max    3.000000  4.000000  20.0